/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
  color: #eee;
}

h1 {
  color: #a8154e;
  font-size: 100px;
}

h2 {
  color: #a8154e;
  font-weight: 300;
  font-size: 57px; 
}

h3 {
  color: #a8154e;
  font-weight: 300;
  font-size: 30px; 
}

/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: #eee;
  border: .05rem solid #eee;
}


/*
 * Base structure
 */

html,
body {
  height: 100%;
  background-color: #ffffff;
}

body {
  display: -ms-flexbox;
  display: flex;
  color: #fff;
  text-shadow: 0 .05rem .1rem rgba(255, 255, 255, .5);
  box-shadow: inset 0 0 5rem rgba(79, 8, 35, .5);
}

.cover-container {
  max-width: 42em;
}

.bottom-left {
    position: center;
    bottom: 16px;
    left: 16px;
}

/*
 * Header
 */
.masthead {
  margin-bottom: 2rem;
}

.masthead-brand {
  padding: .5rem 0;
  margin: .5rem;
  font-weight: 400;
  margin-bottom: 0;
}

.nav-masthead .nav-link {
  padding: .5rem 0;
  margin: .5rem;
  font-weight: 400;
  color: rgba(224, 109, 152, .5);
  background-color: transparent;
  border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(255, 255, 255, .25);
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: #c64172;
  border-bottom-color: #c64172;
}

@media (min-width: 48em) {
  .masthead-brand {
    float: left;
  }
  .nav-masthead {
    float: right;
  }
}


/*
 * Cover
 */
.cover {
  padding: 0 1.5rem;
}
.cover .btn-lg {
  padding: .75rem 1.25rem;
  font-weight: 700;
}


/*
 * Footer
 */
.mastfoot {
  color: rgba(255, 255, 255, .5);
}
