body {
    background-color: gray;
}
h1 {
    color: black;
    font-family: verdana;
    font-size: 200%;
}
p {
    color: red;
    font-family: verdana;
    font-size: 130%;
    border: 1px solid red;
    padding: 30px;
}

#header {
	color: white;
}